<% if comment.body != nil %>
    <div class="row">
            <div class="col-sm-2">
                <%if user_signed_in? %>
                    <%= button_to 'upVote',  post_comment_upvote_path(@post, comment), method: :post %>
                <%end%>

                <h4> <%= comment.votes.where(voteType: "true").count -  comment.votes.where(voteType: "false").count%> points</h4>
                
                <%if user_signed_in? %>
                    <%= button_to 'downVote',  post_comment_downvote_path(@post, comment), method: :post %>
                <%end%>
            </div>
            <div class="col-sm-10">
                <p><%= comment.body %> </p>
                <h4> submitted by <%= User.find(id: comment.user_id).email%> </h4>
            </div>
    </div>
<% end %>


