<h1 class="pageHeader"> Today's Posts </h1>

<div id="allPosts" class="container">

    <% @posts.each do |post| %> 
        <div class="row">
            <div class="col-sm-2">
                
                <%if user_signed_in? %>
                    <%= link_to image_tag("uparrow.png", width: '20px'), post_upvote_path(post), method: :post%>
                <%end%>

                <h4 style="margin: 5px"> <%= post.points %> points</h4>
                
                <%if user_signed_in? %>
                    <%= link_to image_tag("downarrow.png", width: '20px'), post_downvote_path(post), method: :post%>
                <%end%>
            </div>
            <div class="col-sm-10">
                <h1><%= link_to post.title, post_path(post)%></h1>
                <h4>submitted by <%= User.find(id: post.user_id).email %></h4>
            </div>
        </div>
    <% end %> 
</div>