<h1 class="pageHeader"><%= @post.title %></h1>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>
    <% if @post.user_id.to_s == current_user.id.to_s %>
        <%= link_to "Edit ", edit_post_path(@post) %>
        <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
<% end %>

<div class="postBody">
<p><%= @post.body %></p>

<h2 style="margin-bottom: 30px"> Comments </h2> 

<div class="container" style="margin-bottom: 30px">
    <%= render @post.comments %>
</div>

<% if user_signed_in? %>
    <%= render 'comments/form' %>
<% end %>